body {
    background-color: rgb(221, 240, 241);
    font-family: Arial, sans-serif;
}
.animated-title {
    display: inline-block;
    animation: fadeInScale 2s ease-in-out forwards;
    opacity: 0; /* Start with hidden */
    transform: scale(0.8); /* Start with smaller scale */
    font-size: 2em;
    color: #4CAF50;
    text-align: center;
    margin: 0;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.container {
    display: flex;
    gap: 0px;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 15px;
}
.item {
    /*padding: 20px;
    margin: 10px;
    border-radius: 10px;*/
    text-align: center;
    background-color: rgb(231, 237, 237);
    flex: 1;
}
/*.item.left {
    flex: 3;
}

.item.right {
    flex: 1; 
}*/

.login{
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 10%;
    padding: 10px;
}
.button {
    text-align: center;
    margin-top: 15px;
}
.button button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.button button:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.form-group input[type="password"] {
    margin-top: 5px;
}
.toggle-link {
    text-align: center;
    margin-top: 10px;
    color: #4CAF50;
    cursor: pointer;
}